
h1{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}
li{
    margin-bottom: 1em;
    margin-top:1em;
}
body{

    background-color:lightgrey;
}
footer{
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 50px;
    text-align: center;
}
