ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
#sous_menu{

    list-style : none ;

   
    font-size : 14px ;
   
    width : 100% ;

    margin : 0px ;
 
}
#sous_menu li
{
    float : left ;
}
#sous_menu li a
{   
    text-decoration:none;
    text-align:center;
    padding:0 20px 0 20px;
}
body{
    background-color: lightgrey
}

#taille {
   font-size: xx-large;
  
}
#center{
    text-align: center;
    font-size: x-large;
}