body {
  background-color: lightgrey;
  font-family: "Roboto condensed", sans-serif;
}
nav {
  text-align: center;
  padding: 30px;
  font-size: 20px;
  display: inline-flex;
}
ul {
  list-style-type: none;
}
td {
  padding: 10px;
  text-align: center;
}
table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
img{
  width: 100px;
}
header{
  display: inline-block;;
}
section{
  text-align: center;
  margin:20px;
}
